/*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
@font-face {
  font-family: "Vector";
  src: url("../fonts/VectorBattle-e9XO.ttf");
}

@font-face {
  font-family: "Atarian";
  src: url("../fonts/SfAtarianSystem-d5LR.ttf");
}

@font-face {
  font-family: "Pixograd";
  src: url("../fonts/Pixograd-nKdM.ttf");
}

@font-face {
  font-family: "Bit";
  src: url("../fonts/PressStart2P-vaV7.ttf");
}

body {
  font-family: "Lato", sans-serif;
  color: #272829;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vector";
  color: #49fb35;
}

/*--------------------------------------------------------------
    # Back to top button
    --------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ff2a6d;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: black;
  line-height: 0;
}

.back-to-top:hover {
  background: #d9d9dd;
  color: black;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 15px;
  background: #110d10;
  overflow-y: auto;
  border-color: #000bbb;
  border-style: solid;
  border-width: 2.5px;
  border-image-slice: 1;
}

#header .profile {
  margin-top: 9em;
}

#header .profile h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #49fb35;
  font-weight: bold;
  letter-spacing: 2px;
  text-align-last: center;
  font-family: "Vector";
  text-align: center;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #ff2a6d;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: transparent;
  color: #ff2a6d;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 1px;
  border-color: #000bbb;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 1em;
}

#header .profile .social-links a:hover {
  background: #a8a9b4;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Bit";
  font-weight: 200;
  font-size: 12px;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
  color: #ff2a6d;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none !important;
  background-color: transparent;
  color: #ff2a6d;
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
    # Home Section
    --------------------------------------------------------------*/
#home {
  width: 100%;
  height: 100vh;
  background: #110d10;
  background-size: cover;
}

#home:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#home .home-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#home .home-container h1 {
  color: white;
  font-family: "Vector";
  text-shadow: 5px 5px 0px rgb(0, 11, 187, 0.8),
    10px 10px 0px rgb(0, 11, 187, 0.8), 15px 15px 0px rgb(0, 11, 187, 0.6),
    20px 20px 0px rgb(255, 7, 58, 0.6), 25px 25px 0px rgb(255, 7, 58, 0.4),
    30px 30px 0px rgb(255, 7, 58, 0.4), 35px 35px 0px rgb(254, 254, 51, 0.2),
    40px 40px 0px rgb(254, 254, 51, 0.2), 45px 45px 0px rgb(254, 254, 51, 0.1);
}

#home h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
}

#home p {
  color: #bc13fe;
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Bit";
  font-weight: 200;
}

#home p span {
  color: #bc13fe;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #ff2a6d;
}

@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 42px;
    line-height: 36px;
  }
  #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
    # Sections General
    --------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #05d9e8;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-family: "Vector";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #49fb35;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ff2a6d;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
    # About
    --------------------------------------------------------------*/
.about {
  background-color: #110d10;
}

.about h3 {
  color: #49fb35;
  letter-spacing: 2px;
}

.about .content h5 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #d9d9dd;
}

.about .content h5 a {
  color: #fff;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.circle {
  font-family: "Bit";
  padding: 13px 20px;
  background-color: transparent;
  border-style: solid;
  color: #ff2a6d;
  max-height: 50px;
  z-index: 2;
}

.timeline div {
  padding: 0;
  height: 40px;
}

.timeline hr {
  border-top: 3px dotted #ff2a6d;
  margin: 0;
  top: 17px;
  position: relative;
}

.timeline .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.timeline .corner {
  border: 3px dotted #ff2a6d;
  width: 100%;
  position: relative;
  border-radius: 0px;
}

.timeline .top-right {
  left: 50%;
  top: -50%;
}

.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}

.timeline .top-left {
  left: -50%;
  top: -50%;
}

.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

.profile-img {
  height: auto;
  width: 75%;
}

/*--------------------------------------------------------------
    # Experience
    --------------------------------------------------------------*/
.experience {
  padding-bottom: 30px;
  background-color: #110d10;
  color: #d9d9dd;
}

.sub-heading {
  font-family: "Bit";
  font-weight: 200;
  font-size: 24px;
  color: #bc13fe;
  padding-bottom: 30px;
}

.education h4,
.experience h4 {
  font-family: "Bit";
  color: white;
  margin-bottom: 15px;
}

.education.col-lg,
.experience.col-lg {
  border-color: #000bbb;
  border-style: solid;
  border-width: 2.5px;
  border-image-slice: 1;
  padding: 15px 15px 15px 15px;
  margin-bottom: 45px;
}

/*--------------------------------------------------------------
    # Skills
    --------------------------------------------------------------*/
.skills {
  background-color: #110d10;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 200;
  font-family: "Bit";
  color: white;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #005678;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  background-color: #ff2a6d;
}

/*--------------------------------------------------------------
    # Portfolio
    --------------------------------------------------------------*/
.portfolio {
  background-color: #110d10;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-filters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: black;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-filters li:hover,
.portfolio #portfolio-filters li.filter-active {
  color: black;
}

.portfolio #portfolio-filters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-color: #000bbb;
  border-style: solid;
  border-width: 2.5px;
  border-image-slice: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: black;
  font-size: 28px;
  text-align: center;
  background: #ff2a6d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: #ff2a6d;
}

.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #ff2a6d;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

portfolio-img {
  width: 100em;
  height: auto;
}

/*--------------------------------------------------------------
    # Contact
    --------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
  background-color: #110d10;
}

.contact a {
  color: #d9d9dd;
  text-decoration: none;
}

.contact .info {
  padding: 30px;
  background: #110d10;
  width: 100%;
}

.contact i {
  font-size: 20px;
  color: black;
  float: left;
  width: 44px;
  height: 44px;
  background: #bc13fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-family: "Bit";
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 5px;
  color: #bc13fe;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #d9d9dd;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #d9d9dd;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #d9d9dd;
  color: black;
}

.contact .info .email p a:hover {
  color: white;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #d9d9dd;
  color: black;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */
